{
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
